<!-- views/partials/footer.ejs -->
<footer class="text-center text-white" style="background-color: #e5e2e2;">
  
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2025 Copyright:DelTa-0
    
  </div>
</footer>