<!-- views/partials/footer.ejs -->
<footer class="text-center text-white" style="background-color: #e5e2e2;">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>

  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2025 Copyright:DelTa-0
    
  </div>
</footer>